# 1. 忽略根目录下的所有内容
!.gitignore
/*

# 2. 允许追踪 CMakeLists.txt 和 README.md
!/CMakeLists.txt
!/README.md
!bin/config.json

# 3. 允许追踪目录本身
!/src/
!/include/
!/docs/
!/tests/
# 4. 允许追踪目录下的所有文件和子目录
!/src/**
!/include/**
!/docs/**
!/tests/**
# 5. 去除特定目录、文件
/Testing/
/bin/
/scripts/
/skills/
*.bak
*.tmp
*.temp
*.exe